<div class="checkup-section-header header-primary">
  <div class="container-fluid">
    <div class="container-content v-padding-full">
      <h1 class="mdc-typography--headline3 v-padding-full">Terms &amp; conditions</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container-content">
    <!-- wp:paragraph -->
    <p>This page explains the SCVO’s terms of use. You must agree to these to use this SCVO website (<a href="/" target="_blank" rel="noreferrer noopener">{{replace @root.data.currentSite.url 'https://' ''}}</a>). </p>
    <!-- /wp:paragraph -->

    <!-- wp:heading -->
    <h2>Using the {{@root.data.currentSite.title}} website </h2>
    <!-- /wp:heading -->

    <!-- wp:paragraph -->
    <p>You agree to use the {{@root.data.currentSite.title}} website only for lawful purposes. You must also use it in a way that does not infringe the rights of, or restrict or inhibit the use and enjoyment of, this site by anyone else. </p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>We update the {{@root.data.currentSite.title}} website all the time. We can change or remove content at any time without notice. </p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>We amend these Terms and Conditions from time to time. Every time you wish to use our website, please check these Terms and Conditions to ensure you understand the terms and conditions that apply at that time.&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>By continuing to use our website after these Terms and Conditions have been updated you are agreeing to be bound by them.&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:heading -->
    <h2>Linking to the {{@root.data.currentSite.title}} website </h2>
    <!-- /wp:heading -->

    <!-- wp:paragraph -->
    <p>We welcome and encourage other websites to link to the {{@root.data.currentSite.title}} website. You must contact us for permission if you want to either: </p>
    <!-- /wp:paragraph -->

    <!-- wp:list -->
    <ul><li>charge your website’s users to access any page on <a href="/" target="_blank" rel="noreferrer noopener">{{replace @root.data.currentSite.url 'https://' ''}}</a> </li><li>say your website is associated with or endorsed by <a href="/" target="_blank" rel="noreferrer noopener">{{replace @root.data.currentSite.url 'https://' ''}}</a>  </li></ul>
    <!-- /wp:list -->

    <!-- wp:heading -->
    <h2>External links from the {{@root.data.currentSite.title}} website </h2>
    <!-- /wp:heading -->

    <!-- wp:paragraph -->
    <p>the {{@root.data.currentSite.title}} website links to websites that are managed by government departments and agencies, service providers or other organisations. We do not have any control over the content on these websites. </p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>We’re not responsible for:&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:list -->
    <ul><li>the protection of any information you give to these websites&nbsp;</li><li>any loss or damage that may come from your use of these websites, or any other websites they link to&nbsp;&nbsp;</li></ul>
    <!-- /wp:list -->

    <!-- wp:paragraph -->
    <p>You agree to release us from any claims or disputes that may come from using these websites. You should read all terms and conditions, privacy policies and end user licences that relate to these websites before you use them.&nbsp;&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:heading -->
    <h2>Content license&nbsp;</h2>
    <!-- /wp:heading -->

    <!-- wp:paragraph -->
    <p>We are the owner or the licensee of all intellectual property rights in our site, and in the material published on it. Those works are protected by copyright laws and treaties around the world. All such rights are reserved.&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>If you are an individual, you may print off one copy, and may download extracts, of any page(s) from our site for your personal use.&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>If you are an organisation, you may print off copies, and may download extracts, of any page(s) from our site for non-commercial organisational purposes and you may draw the attention of others within your organisation to content posted on our site.&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>Our status (and that of any identified contributors) as the authors of content on our site must always be acknowledged (except where the content is user-generated).&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>You must not use any part of the content on our site for commercial purposes without obtaining a licence to do so from us. If you’re interested in making commercial use of anything on this site, you’ll need to contact <a href="mailto:enquiries@scvo.scot">enquiries@scvo.scot</a>.&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:heading -->
    <h2>Disclaimer&nbsp;</h2>
    <!-- /wp:heading -->

    <!-- wp:paragraph -->
    <p>While we make every effort to keep the {{@root.data.currentSite.title}} website up to date, we do not provide any guarantees, conditions or warranties that the information will be: </p>
    <!-- /wp:paragraph -->

    <!-- wp:list -->
    <ul><li>current&nbsp;</li><li>secure&nbsp;</li><li>accurate&nbsp;</li><li>complete&nbsp;</li><li>free from bugs or viruses&nbsp;</li></ul>
    <!-- /wp:list -->

    <!-- wp:paragraph -->
    <p>We publish impartial information about setting up and running a voluntary organisation. This does not substitute independent legal advice. You should get professional or specialist advice before doing anything on the basis of the content.&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>We’re not liable for any loss or damage that may come from using the {{@root.data.currentSite.title}} website. This includes: </p>
    <!-- /wp:paragraph -->

    <!-- wp:list -->
    <ul><li>any direct, indirect or consequential losses </li><li>any loss or damage caused by civil wrongs (‘tort’, including negligence), breach of contract or otherwise </li><li>the use of <a href="/" target="_blank" rel="noreferrer noopener">{{replace @root.data.currentSite.url 'https://' ''}}</a> and any websites that are linked to or from it </li><li>the inability to use <a href="/" target="_blank" rel="noreferrer noopener">{{replace @root.data.currentSite.url 'https://' ''}}</a> and any websites that are linked to or from it </li></ul>
    <!-- /wp:list -->

    <!-- wp:paragraph -->
    <p>This applies if the loss or damage was foreseeable, arose in the normal course of things or you advised us that it might happen.&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>This includes (but is not limited to) the loss of your:&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:list -->
    <ul><li>income or revenue&nbsp;</li><li>salary, benefits or other payments&nbsp;</li><li>business&nbsp;</li><li>profits or contracts&nbsp;</li><li>opportunity&nbsp;</li><li>anticipated savings&nbsp;</li><li>data&nbsp;</li><li>goodwill or reputation&nbsp;</li><li>tangible property&nbsp;</li><li>intangible property, including loss, corruption or damage to data or any computer system&nbsp;</li><li>wasted management or office time&nbsp;</li></ul>
    <!-- /wp:list -->

    <!-- wp:paragraph -->
    <p>It is a feature of this website that much of the information is contributed by many different third parties and SCVO does not control those parties or their information and has no responsibility for any information they contribute.&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>Opinions expressed within the information contained in this website are those of the authors and do not necessarily represent the opinion of SCVO.&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:heading -->
    <h2>Governing law and legal enforcement&nbsp;</h2>
    <!-- /wp:heading -->

    <!-- wp:paragraph -->
    <p>We are situated in Scotland and the law of Scotland shall govern any interpretation of these Terms and Conditions. The Scottish Courts shall decide any disputes between us.&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>We fully co-operate with the police in identifying those who use our service for illegal activities. We reserve the right to report to the police any activities that we reasonably believe to be unlawful.&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:heading -->
    <h2>Commenting&nbsp;</h2>
    <!-- /wp:heading -->

    <!-- wp:paragraph -->
    <p>We offer users the option to “comment” on some content. We reserve the right to review these from time to time and delete any messages or text which we, in our sole discretion, decide are inappropriate.&nbsp;&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>If you comment you grant us the right to use and display any material which you post to or publish on this site.&nbsp;&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:heading -->
    <h2>Uploading content to our site&nbsp;</h2>
    <!-- /wp:heading -->

    <!-- wp:paragraph -->
    <p>We offer users the option to “comment” on some content. We have the right to remove any posting you make on our site if we, in our sole discretion, decide it is inappropriate.&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>Any content you upload to our site will be considered non-confidential and non-proprietary. You retain all of your ownership rights in your content, but you are required to grant us a limited licence to use, store and copy that content and to distribute and make it available to third parties.&nbsp;&nbsp;&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>We also have the right to disclose your identity to any third party who is claiming that any content posted or uploaded by you to our site constitutes a violation of their intellectual property rights, or of their right to privacy.&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:heading -->
    <h2>Information about you and your visits to the {{@root.data.currentSite.title}} website </h2>
    <!-- /wp:heading -->

    <!-- wp:paragraph -->
    <p>We collect information about you in accordance with our <a rel="noreferrer noopener" href="/privacy" target="_blank">privacy policy</a> and our <a rel="noreferrer noopener" href="/cookies" target="_blank">cookie policy</a>. By using the {{@root.data.currentSite.title}} website, you agree to us collecting this information and confirm that any data you provide is accurate. </p>
    <!-- /wp:paragraph -->

    <!-- wp:heading -->
    <h2>About termination of your registration&nbsp;</h2>
    <!-- /wp:heading -->

    <!-- wp:paragraph -->
    <p>If you breach any term of these Terms and Conditions or if we are unable to verify or authenticate any information you submit to the Site, we reserve the right to delete any information provided by you to the Site and immediately terminate your registration or ability to access the Site and/or any other service provided by us to you. On termination you will stop using the Site Services made available to you as a registered user.&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>We have the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time, if in our reasonable opinion you have failed to comply with any of the provisions of these Terms and Conditions.&nbsp;</p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>If you know or suspect that anyone other than you knows your user identification code or password, you must promptly notify us at <a href="mailto:enquiries@scvo.scot">enquiries@scvo.scot</a> or telephone our customer service line on 0800 169 0022.&nbsp;</p>
    <!-- /wp:paragraph -->
  </div>
</div>